body {

 background-color: #CEE5D0;
}

hr{

 background-color: #CEE5D0;
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 4px;
 height: 0px;
 width: 15%;
}
h1 {
  text-align: center;
  color: blue;
}
h3 {

  color: blue;
}
h4 {
  color: Maroon;
}
